.home-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.section-outer {
    flex: 0 0 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.section-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 40%;
    text-shadow: 0 0 10px var(--font-color);
    border-top: 1px solid var(--font-color);
    border-bottom: 1px solid var(--font-color);
    margin: 0 40px;
}

.title-cap {
    font-size: 80px;
}

.title {
    font-size: 64px;
}
.title-spaced {
    width: 100%;
    text-align: center;
    font-size: 20px;
    letter-spacing: 10px;
    padding-bottom: 20px;
}


@media screen and (max-width: 768px) {
    .home-container {
        height: calc(100vh - 80px);
    }
    .title-cap {
        font-size: 60px;
    }

    .title {
        font-size: 48px;
    }

    .title-spaced {
        font-size: 16px;
        letter-spacing: 7px;
    }
}