.nav-menu {
    font-size: 24px;
}

.nav-item, .nav-item-plain {
    display: block;
    padding: 20px 0;
    &:visited {
        color: inherit;
    }
}

.nav-item-plain {
    text-decoration: none;
}