.app {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.dark-theme {
  --bg1: #2e323d;
  --bg2: #424650;
  --font-color: #7599e5;
}

.light-theme {
  --bg1: #B3B8B8;
  --bg2: #ccd1d1;
  --font-color: #4266B2;
}

.nav-drawer {
  position: absolute;
  top: 80px;
  left: 0;
  height: calc(100vh - 80px);
  width: 200px;
  padding-left: 50px;
  font-size: 20px;
  background-color: var(--bg1);
  color: var(--font-color);
}

.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  width: 25%;
  max-width: 250px;
  background-color: var(--bg1);
  color: var(--font-color);

}

.nav-container-responsive {
  display: none;
  align-items: center;
  padding-left: 20px;
  height: 80px;
}

.main-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg2);
  color: var(--font-color);

}

@media screen and (max-width: 400px) {
  .app {
    flex-direction: column;
  }

  .nav-container-responsive {
    display: flex;
  }
  .nav-container {
    display: none;
  }

}